In [51]:
import pandas as pd

In [52]:
import numpy as np

In [53]:
df= pd.read_csv(r'C:\Users\Rutu\Documents\Excel_ML\spam.csv')

In [54]:
df.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [55]:
df.tail()

     Label                                          EmailText
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [57]:
df.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [58]:
df.isnull().sum()

Label        0
EmailText    0
dtype: int64

In [59]:
df.shape

(5572, 2)

In [60]:
x=df['Label']
y=df['EmailText']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

In [64]:
cv= CountVectorizer()

In [65]:
x_train = cv.fit_transform(x_train)
x_test = cv.transform(x_test)

In [66]:
from sklearn.svm import SVC

In [67]:
model = SVC(kernel = "rbf",random_state=0)

In [68]:
model.fit(x_train,y_train)

SVC(random_state=0)

In [69]:
print(model.score(x_test,y_test))

0.003587443946188341